*{
  font-family:helvetica;
  text-align:center;
}

a:hover{
  color:#83bcd1;
}

h1{
  color:#fff;
  font-size: 70px;
  font-weight: bold;
  padding-top:100px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  color:#9b9b9b;
  font-weight: lighter;
}

#info p{
  color:#fff;
}

.header{
  background-image:url(../../resources/images/flatiron2.jpg);
  background-attachment: fixed;
  background-size: cover;
  height:900px;
  width:100%;
  margin-top:-50px;
}

.header ul{
  background-color: #fff;
  padding: 15px 0px;
}

.header li{
  list-style: none;
  color:#000;
  display: inline;
  padding: 0px 30px;
}

.header a{
  text-decoration: none;
  color: #000;
}

.header a:hover{
  color:#83bcd1
}

.process{
  padding:150px 0px;
}

#info{
  background-image:url(../../resources/images/flatiron.jpg);
  background-attachment: fixed;
  background-size: cover;
  height:600px;
  width:100%;
  color:#fff;
  padding-top:350px;
}

footer{
  text-align: right;
  background-color: #fff;
  padding: 10px 0px;
}

footer a{
  color:black;
  text-decoration: none;
  padding: 0px 10px
}

.design{
  background-color: rgba(255,255,255,0.3);
  padding: 20px 0px;
}

h3 .nyc{
  color:red;
}
